@model sphelper_try1.Models.TableItemsCrn

<tr>
    @if(Model.CRN != "N/A")
    {
        <td><p>@Html.DisplayFor(model => model.CRN)</p></td>
    } else
    {
        <td> <p class="na-crn"> @Html.DisplayFor(model => model.CRN) </p> </td>
    }

    <td>@Html.DisplayFor(model => model.SubjectCode)</td>
    <td>
        <div>
            <p>@Html.DisplayFor(model => model.CompetencyName)</p>
        </div>
        <div class="desc">
            <p>Competency Code: @Html.DisplayTextFor(model => model.TafeCompetencyCode)</p>
        </div>
    </td>
    <td class="">
        @Html.HiddenFor(model => model.isDeleted)
        @*<input type="submit" value="Delete" class="remove"/>*@
        <a class="delete-icon remove-crn" href="#">
            <img src="~/Content/img/cross.png" height="16" width="16">
        </a>
    </td>

        @Html.HiddenFor(model => model.CRN)
        @Html.HiddenFor(model => model.SubjectCode)
        @Html.HiddenFor(model => model.CompetencyName)
        @Html.HiddenFor(model => model.TafeCompetencyCode)
    @*@Html.HiddenFor(model => model.isDeleted)*@
</tr>
