@model sphelper_try1.ViewModel.HomeVM

@{
    ViewBag.Title = "Home Page";
}

<div class="home-header">
    <h1><span>Hello, </span> @Html.DisplayTextFor(m => m.StudentInfo.Name)</h1>
</div>

<div class="align">
    <div class="upper-box">
        <div class="color-shadow home-jumbotron home-rows">
            @Html.ActionLink("View Study Plan",                                  //link text
                                 "Index",                                       //action name
                                 "Studyplan_Subject",                           //controller name
                                 null,
                                 new { @class = "home-actionlink-big" })        @*html attributes*@
            <a href="/Studyplan_Subject/Index">
                <img src="~/Content/img/arrow.png" class="jumbotron-arrow" />
            </a>
        </div>

        <div class="home-rows transparent-shadow">
            @Html.ActionLink("Select Subject",                            //link text
                             "SelectSubjectForCRN",                       //action name
                             "CRN",                                       //controller name
                             null,
                             new { @class = "home-actionlink" })          @*html attributes*@
        </div>
    </div>

    <div class="lower-box">
        <div class="home-rows transparent-shadow">
            @Html.ActionLink("My CRNs",
                             "Index",
                             "CRN",
                             null,
                             new { @class = "home-actionlink " })
        </div>
        <div class="home-rows transparent-shadow">
            @Html.ActionLink("Seek Advice",
                             "SeekAdvice",
                             "Home",
                             null,
                             new { @class = "home-actionlink" })
        </div>
    </div>
</div>

