@model sphelper_try1.Models.student
@{
    ViewBag.Title = "Log In";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SP Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@using (Html.BeginForm("Index", "Home"))*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container body-content index-container">
            <div class="form-horizontal login-align">
                <h1>SP Helper</h1>
                <h3>Welcome Students! </h3>
                <div class=" login-container">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <p>Sign in with your organizational account</p>
                    <div class="form-group col-sm-12 ">
                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "validation" })
                        @Html.EditorFor(m => m.EmailAddress, "Email Address", new { htmlAttributes = new { @class = "form-control textarea", placeholder = "Email Address" } })
                    </div>

                    <div class="form-group col-sm-12 textarea">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation" })
                        @*@Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control textarea", placeholder = "Password" } })*@
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control textarea", placeholder = "Password" } })
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="submit" value="Log In" class="btn button color-shadow" />
                    </div>
                </div>
            </div>
        @*<footer>
            <p>&copy; @DateTime.Now.Year - SP Helper Team</p>
        </footer>*@
    </div>

    <div class="shape-bg">
        <ul class="circles">
            @* circles *@
            <li></li> @*big circle*@
            <li></li> @*med circle*@
            <li></li> @*sm circle*@
            <li></li> @*xs circle*@


        </ul>

        <ul class="triangles">
            @* triangles *@
            <li></li> @*big triangles*@
            <li></li> @*med triangles*@
            <li></li> @*sm triangles*@
            <li></li> @*xs triangles*@
        </ul>

        <ul class="squares">
            @*square*@
            <li></li> @*big square*@
            <li></li> @*med square*@
            <li></li> @*sm square*@
            <li></li> @*xs square*@
        </ul>
        <ul class="strips">
            @*square*@
            <li></li> @*big strips*@
            <li></li> @*med strips*@
            <li></li> @*sm square*@
            <li></li> @*xs square*@
        </ul>

    </div>
    }
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @*@RenderSection("scripts", required: false)*@


    </body>
</html>
