@model sphelper_try1.ViewModel.Studyplan_SubjectVM
@{
    ViewBag.Title = "SelectSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <header>
        <h1>Select Subject</h1>

        <div>
            <p class="studyplan-p">@Html.DisplayFor(model => model.StudentName), select subjects for your studyplan: <br></p>
            <p class="studyplan-pqual">@Html.DisplayFor(model => model.Qualification)</p>
            <p class="studyplan-p">National Code: @Html.DisplayFor(model => model.NationalCode) Tafe Code: @Html.DisplayFor(model => model.TafeCode)</p>
        </div>
    </header><br>

    <content>
        <table class="table table-bordered">
            <tr>
                <th>Subject</th>
                <th>Subject Description</th>
                <th>Status</th>
            </tr>

            @*reusable table template*@
            <tbody>
                @Html.EditorFor(model => model.SubjectCheckItems)
            </tbody>
            <tfoot><tr><td colspan="3">End</td></tr></tfoot>
        </table>

        <div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" value="Get CRN" class="btn button color-shadow" />
                </div>
            </div>
        </div>
        <br>
    </content>
</div>

