@model sphelper_try1.Models.TableItems

@*reusable template*@
<tr>
    <td> @Model.SubjectCode </td>
    <td>
        <div>
            @Model.SubjectTitle
        </div>
        <div>
            @Model.SubjectDescription
        </div>
        <div>
            <p>Pre requisite: @Model.Prerequisite</p>
        </div>
    </td>
    <td>@Model.Status</td>
</tr>

