<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SP Helper</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="showcase">
        <div class="menubar">
            @Html.ActionLink("SP Helper", "RedirectToIndex", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
                <img src="~/Content/img/menu.png"  id="toggle"/>
        </div>

        <div class="buff"></div>
        <div class="container body-content ">
            @RenderBody()
            @*<footer>
                    <p>&copy; @DateTime.Now.Year - SP Helper Team</p>
                </footer>*@
        </div>
    </div>
    
    <div class="menu">
        @* <ul class="nav navbar-nav"> *@
        <ul class="">
            <li>@Html.ActionLink("Home", "RedirectToIndex", "Home")</li>
            <li>@Html.ActionLink("View Studyplan", "Index", "Studyplan_Subject")</li>
            <li>@Html.ActionLink("Select Subject", "SelectSubjectForCRN",  "CRN")</li>
            <li>@Html.ActionLink("My CRNs", "Index", "CRN")</li>
            <li>@Html.ActionLink("Seek Advice", "SeekAdvice", "Home")</li>
            <li class="logout">@Html.ActionLink("Log out", "Index", "LogIn")</li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
